.container-1 {
    padding: 2% 3%;
}

.row-new {
    width: 40%;
    padding-bottom: 0.75%;
}

.actions {
    padding-top: 1%;
}

.btn {
    margin-right: 2%;
    margin-bottom: 5%;
}

.error {
    color: red;
}