.container-1 {
    min-height: 100%;
    position: relative;
}

.hero-1 {
    padding: 8% 2%;
    text-align: center;
}

.heading {
    text-align: center;
    margin-bottom: 3%;
}

.btn {
    margin: 1% 2%;
    padding: 1.5% 3%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}